{% extends 'base.html' %}
{% block content %}
    <h1 class="text-capitalize">{{ user.username }}'s Profile</h1>
    <p class="glyphicon glyphicon-user"><b>UserName: </b><span class=" text-primary">{{ user.username }}</span></p>
    <p><b>Name: </b><span class=" text-primary">{{ user.first_name }} {{ user.last_name }}</span></p>
    <p><b>City:</b><span class="text-primary"> {{ user.profile.city }}</span></p>
    <p><b>About:</b><span class="text-primary"> {{ user.profile.bio }}</span></p>
    <p><b>email: </b><span class=" text-primary">{{ user.email }}</span></p>
    <p><b>PhNumber</b><span class="text-primary"> {{ user.profile.phone }}</span></p>
    <p><b>Followers:</b><span class="text-primary"> {{ followers_count }}</span></p>
    <p><b>Following:</b><span class="text-primary"> {{ following_count }}</span></p>

{% endblock %}
