<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}MyBlog{% endblock head_title %}</title>

    <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
    {% include 'snippets/nav.html' %}
</body>
<div class="container">
    {% block content %}
    <!--Hello baby-->
    {% endblock %}
</div>
</html>
